#container {
    width: 600px;
    height: auto;
    margin: 0 auto;
}

/*the Navigation bar */

#navbar {
    width: 600px;
    height: 80px;
    background-color: blanchedalmond;
    font-family: 'Aclonica', sans-serif;
}
.navbar-list ul {
    text-decoration: none;
    float: left;
    margin-top: 30px;
}
.navbar-list li {
    display: inline-block;
}
.navbar-list li a {
    text-decoration: none;
    color: black;
    padding: 0 15px;
}
.fa-ul li {
    margin-top: 10px;
    display: inline-block;
    float: right;
    padding: 8px;
}

/*End of the Navigation bar */


/*The content part */

#content {
    width: 600px;
    height: 400px;
}
h3 {
    font-family: 'Aclonica', sans-serif;
    color: aliceblue;
    padding-left: 10px;
    font-size: 50px;
    position: absolute;
    z-index: 2;
}
img {
    width: 600px;
    height: 400px;
    position: absolute;
    z-index: 1;
}

/*The end of content part */


/*The Mainbody part */

#Mainbody {
    width: 600px;
    height: 300px;
    margin-left: 25px;
    color: #333;
}
.section {
    width: 180px;
    height: 300px;
    display: inline-block;
}
.section img {
    width: 180px;
    height: 150px;
}
.header {
    width: 150px;
    font-family: 'Aclonica', sans-serif;
    color: saddlebrown;
    text-align: center;
    margin-top: 160px;
}
.section-content {
    color: black;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}

/*End of Mainbody part */


/*The Footer part */

#footer {
    width: 600px;
    height: 400px;
    background-color: bisque;
}

/*
*************
*=section
*************
*/


/*

}
label {
    display: block;
}
form li {
    margin-bottom: 20px;
    font-family: 'Roboto Condensed', sans-serif;
}
form ul {
    list-style: none;
}
.order {
    width: 50%;
    height: 400px;
    float: left;
}
.order p {
    padding-left: 8px;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
}
span {
    padding-left: 8px;
    font-family: 'Roboto Condensed', sans-serif;
}
*/

form p {
    margin-left: 8px;
}
form label {
    color: black;
}
input,
textarea {
    padding: 9px;
    border: 1px solid saddlebrown;
    outline: 0;
    font: 'Roboto Condensed', sans-serif;
    width: 100px;
    background: snow;
    margin-left: 6px;
}
textarea {
    width: 300px;
    height: 200px;
    line-height: 150%;
}
input:hover,
textarea:hover,
input:focus,
textarea:focus {
    border-color: chocolate;
}
.submit input {
    width: auto;
    background: snow;
    border: 0;
    padding: 8px 12px;
    font-size: 14px;
    color: black;
}
.map {
    width: 50%;
    height: 400px;
    float: right;
}
.map p {
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
}
#map-canvas {
    width: 260px;
    height: 300px;
    border: 2px solid black;
}
