#container {
    width: 600px;
    height: auto;
    margin: 0 auto;
}

/*the Navigation bar */

#navbar {
    width: 600px;
    height: 80px;
    background-color: blanchedalmond;
    font-family: 'Aclonica', sans-serif;
}
.navbar-list ul {
    text-decoration: none;
    float: left;
    margin-top: 30px;
}
.navbar-list li {
    display: inline-block;
}
.navbar-list li a {
    text-decoration: none;
    color: black;
    padding: 0 15px;
}
.fa-ul li {
    margin-top: 10px;
    display: inline-block;
    float: right;
    padding: 8px;
}

/*End of the Navigation bar */


/*The content part */

#content {
    width: 600px;
    height: 400px;
}
h3 {
    font-family: 'Aclonica', sans-serif;
    color: aliceblue;
    padding-left: 10px;
    font-size: 50px;
    position: absolute;
    z-index: 2;
}
img {
    width: 600px;
    height: 400px;
    position: absolute;
    z-index: 1;
}

/*The end of content part */


/*The Mainbody part */

#Mainbody {
    width: 600px;
    height: 300px;
    margin: 0 auto;
}
#Mainbody img {
    width: 160px;
    height: 110px;
}
.body1,
.body2,
.body3 {
    width: 180px;
    height: 300px;
    display: inline-block;
    margin-left: 10px;
}
#Mainbody p {
    font-size: 14px;
    margin-top: 150px;
    font-family: 'Amita', cursive;
}
