#container {
    width: 600px;
    height: auto;
    margin: 0 auto;
}

/*the Navigation bar */

#navbar {
    width: 600px;
    height: 80px;
    background-color: blanchedalmond;
    font-family: 'Aclonica', sans-serif;
}
.navbar-list ul {
    text-decoration: none;
    float: left;
    margin-top: 30px;
}
.navbar-list li {
    display: inline-block;
}
.navbar-list li a {
    text-decoration: none;
    color: black;
    padding: 0 15px;
}
.fa-ul li {
    margin-top: 10px;
    display: inline-block;
    float: right;
    padding: 8px;
}

/*End of the Navigation bar */


/*The content part */

h3 {
    font-family: 'Aclonica', sans-serif;
    color: aliceblue;
    padding-left: 10px;
    font-size: 50px;
    position: absolute;
    z-index: 2;
}
img {
    width: 600px;
    height: 400px;
    position: absolute;
    z-index: 1;
}
